/* Seletor Universal */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Seletor de Tags */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Seletor de Tags */
header, nav, main, footer {
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
}

/* Seletor de IDs */
#main-header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

/* Seletor de Classes */
.titulo {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.subtitulo {
    font-size: 1.2em;
    color: #f8f9fa;
}

/* Seletor de Classes */
.conteudo {
    background-color: white;
    padding: 20px;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Seletor de Classes */
.informacao-adicional {
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Regras de Navegação */
nav ul {
    list-style-type: none;
    background-color: #333;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #555;
}

/* Regras de Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
