*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: lightgray;
    display: flex;
    margin: 20px;
}

.star{
    justify-content: start;
}

.end{
    justify-content: end;
}

.center{
    justify-content: center;
}

.between{
    justify-content: space-between;
}

.around{
    justify-content: space-around;
}
.evenly{
    justify-content: space-evenly;
}